.header-wrapper.scrolled {
  background: #1976d2;
}

.header-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  border-width: 0;
  background-color: transparent;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}
.header-wrapper .menu-navbar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-wrapper .menu-navbar-inner .brand a {
  font-size: 38px;
}
@media (min-width: 768px) {
  .header-wrapper .menu-navbar-inner .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
  }
}
.header-wrapper .menu-navbar-inner .menu-item li {
  list-style: none;
}

.main-banner-wrapper {
  background: url("../../images/bg-hosting.jpeg");
  display: table;
  background-position: center;
  width: 100%;
  position: relative;
  padding-top: 13rem;
  padding-bottom: 13rem;
}
.main-banner-wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  background: rgba(22, 28, 45, 0.6);
  height: 100%;
  width: 100%;
}
.main-banner-wrapper .banner-content {
  margin: 5rem 0;
  position: relative;
  z-index: 99;
}
.main-banner-wrapper .banner-content .meta-title {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.main-banner-wrapper .banner-content .banner-title {
  font-size: 48px;
  color: #fff;
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.main-banner-wrapper .banner-content p {
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto;
  text-align: center;
  max-width: 560px;
}
.main-banner-wrapper .banner-content .banner-btn {
  display: table;
  margin: 15px auto;
}

.primary-btn {
  margin: 15px 0;
}

.service-section {
  margin: 70px 0;
}
.service-section .service-top {
  margin-bottom: 50px;
}
.service-section .service-top h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 15px;
}
.service-section .service-top p {
  width: 50%;
  line-height: 1.6;
  font-weight: 400;
}
.service-section .service-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.service-section .service-bottom .service-bottom-inner {
  padding: 25px;
  -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
          box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.5%;
          flex: 0 0 23.5%;
  max-width: 23.5%;
  border-radius: 10px;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.service-section .service-bottom .service-bottom-inner:hover {
  background: rgb(79, 70, 229);
}
.service-section .service-bottom .service-bottom-inner:hover .service-content h3, .service-section .service-bottom .service-bottom-inner:hover .service-content p {
  color: #fff;
}
.service-section .service-bottom .service-bottom-inner:hover .service-icon svg path {
  fill: #fff;
}
.service-section .service-bottom .service-bottom-inner .service-icon {
  margin-bottom: 15px;
}
.service-section .service-bottom .service-bottom-inner .service-icon svg {
  width: 35px;
  height: 35px;
}
.service-section .service-bottom .service-bottom-inner .service-content h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 15px;
}
.service-section .service-bottom .service-bottom-inner .service-content p {
  font-weight: 400;
  line-height: 1.6;
}
.service-section .service-quick {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.service-section .service-quick .service-quick-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}
.service-section .service-quick .service-quick-top h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 15px;
}
.service-section .service-quick .service-quick-top p {
  font-weight: 400;
  line-height: 1.6;
}
.service-section .service-quick .service-quick-top .service-quick-item {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.service-section .service-quick .service-quick-top .service-quick-item li {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.service-section .service-quick .service-quick-top .service-quick-item li svg {
  color: rgb(75, 70, 229);
}
.service-section .service-quick .service-image-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  -webkit-transition: color 0.15s ease, border-color 0.15s ease;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (prefers-color-scheme: dark) {
  .card,
.footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}
.container {
  max-width: 1140px;
  margin: auto;
}